*{
    box-sizing: border-box;
}
h1{
    text-align: center;
}
section{
    box-sizing: border-box;
    border: 1px solid black;
    width:29%;
    padding: 10px;
    margin:27px;
    float: left;
    background-color: cadetblue;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: 15px;
}
.section1{
  padding-top: 1px;
}
.section2{
    padding-top: 1px;
}
.section3{
    padding-top: 1px;
}
p{
    position: relative;
    bottom: 21px;
    left: 71.5%;
    box-sizing: border-box;
    width:32%;
    height: 25px;
    text-align: center;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    clear:right;
}
.p1{
    background-color: rgb(125, 95, 160);
}
.p2{
    background-color: rgb(239, 15, 191);
}
.p3{
    background-color: rgb(216, 103, 33);
}
/* Desktop Devices */
@media (min-width:991px) and (max-width:1200px){
   section{
       float: left;
       margin: 20px;
       /* width: 27%; */
   }
   p{
       box-sizing: border-box;
       position: relative;
       bottom: 21px;
       left: 73%;
       width:31%;
   }
}
/* Tablet Devices */
@media (min-width:768px) and (max-width:990px){
    /* section{
        margin: 30px;
    } */
    .section1{
        float: left;
        width: 42%;
    }
    .section2{
        float: left;
        width: 42%;
    }
    .section3{
        width:90%;
    }
    .p3{
        position: relative;
        left:69.8%;
    }
    /* p{
        box-sizing: border-box;
        position: relative;
        bottom: 21px;
        left: 73%;
        width:31%;
    } */
}
/* Mobile Devices */
@media (min-width:375px)and (max-width:767px){
    section{
        float: none;
        width:90%;
        margin-left:20px ;
    }
}
